<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "ProjectPosting",
    "mainEntityOfPage": {
      "@type": "WebPage"
    },
    "@id": "{{ url }}",
    "headline": "{{ title or meta.siteName }}",
    "description": "{{ discover.description or description or meta.siteDescription }}",
    "image": "{{ meta.url }}{% if discover.image %}/assets/images/{{ discover.image }}{% else %}{{ meta.opengraph_default }}{% endif %}",
    "inLanguage": "{{ meta.locale }}",
    "projectUrl": "{{ projectUrl }}",
    "isArchived": "{{ isArchived | default(false) | dump }}"
  }
</script>
