.section > .divider:first-child {
  transform: rotate(180deg) translateY(-1px);
}

.section__inner {
  background-color: var(--spot-color, var(--color-bg-accent));
  background: linear-gradient(
    115deg,
    color-mix(in oklab, var(--spot-color, var(--color-bg-accent)) 92%, var(--color-bg)),
    var(--spot-color, var(--color-bg-accent))
  );
  color: var(--color-text);
  border-block: 1px solid color-mix(in oklab, var(--spot-color, var(--color-bg-accent)) 68%, var(--color-bg));
}

.section blockquote {
  font-weight: var(--font-bold);
  line-height: 1;
  font-size: var(--size-step-4);
  letter-spacing: var(--tracking-s);
}

.section :is(h1, h2, h3, blockquote) {
  opacity: 95%;
}
