---
layout: base
title: 'Archive'
description: 'Older archived blog posts'
pagination:
  data: collections.archivedPosts
  size: 10
permalink: 'archive/{% if pagination.pageNumber >=1 %}page-{{ pagination.pageNumber + 1 }}/{% endif %}index.html'
---

<div class="wrapper">
  <header class="full | section" style="--spot-color: var(--color-tertiary)">
    <div class="section__inner flow region">
      <h1 class="text-center" style="color: var(--color-light);">{{ title }}</h1>
    </div>
    {% svg "divider/waves", null, "divider" %}
  </header>

  <div class="region flow prose" style="--region-space-top: var(--space-l-2xl)">
    <p>These are all my older blog posts that I have archived. You can find my most recent blog posts <a href="/blog/">here</a>.</p>
  </div>

  <custom-masonry layout="50-50">
		{% asyncEach item in pagination.items %}
      {% set headingLevel = "h3" %}
      {% set headingTextStep = "text-step-0" %}
			{% include "partials/card-blog.njk" %}
		{% endeach %}
	</custom-masonry>

  <!-- set collection to paginate -->
  {% set collectionToPaginate = collections.archivedPosts %}
  <!-- set target pagination settings in meta.js -->
  {% set metaKey = "blog" %} <!-- You might want to change this metaKey to "archive" if it affects pagination link generation or other metadata -->
  <!-- if the number of items in the collection is greater than the number of items shown on one page -->
  {% if collectionToPaginate.length > pagination.size %}
    <!-- include pagination -->
    {% include 'partials/pagination.njk' %}
  {% endif %}
</div>
