---
layout: base
permalink: communities/index.html
title: 'Communities'
description: "Communities that I love and am proud to be part of."
---

<div class="wrapper">
  <header class="full | section" style="--spot-color: var(--color-primary)">
    <div class="section__inner flow region">
      <h1 class="text-center" style="color: var(--color-light);">{{ title }}</h1>
    </div>
    {% svg "divider/pixels", null, "divider" %}
  </header>

  <article class="full | region">
    <div class="wrapper flow prose">
      <p>
        This is a list of Communities I am part of, or have been part of in the past. I love being part of these communities and I am proud to be a member of them.
      </p>
    </div>
  </article>
</div>
