---
layout: base
permalink: /index.html
title: 'Neural Flow'
description: "The Website of Daniel Scott-Raynsford: An AI adventurer and builder."
---

<div class="wrapper">
  <header class="full | section" style="--spot-color: var(--color-primary)">
    <div class="section__inner flow region">
      <h1 class="text-center" style="color: var(--color-light);">{{ title }}</h1>
    </div>
    {% svg "divider/waves", null, "divider" %}
  </header>

  <article class="full | region">
    <div class="wrapper flow prose">
      <p>
        Hi, I'm Daniel, I'm a software engineer and AI enthusiast.
      </p>
      <p>
        Welcome to my website, where I share my journey into building intelligent systems with AI.
        I share my thoughts, ideas, and projects related to AI, software development and building intelligent systems in the cloud.
      </p>
    </div>
  </article>

  {# --- Featured Latest Post --- #}
  {% set latestPost = collections.livePosts[0] %}
  <section class="region region-space-l">
    <div class="wrapper flow prose">
      {% set item = latestPost %}
      {% set headingLevel = "h2" %}
      {% include "partials/card-blog.njk" %}
    </div>
  </section>

  {# --- Recent Posts --- #}
  <section class="region region-space-l">
    <div class="wrapper flow prose">
      <h2 class="gradient-text-linear">Recent Posts</h2>
      <div class="region region-space-l">
        <custom-masonry layout="50-50">
          {% set itemList = collections.livePosts.slice(1, 5) %}
          {% asyncEach item in itemList %}
            {% set headingLevel = "h3" %}
            {% set headingTextStep = "text-step-0" %}
            {% include "partials/card-blog.njk" %}
          {% endeach %}
        </custom-masonry>
      </div>
    </div>
  </section>
</div>
