---
layout: base
permalink: projects/index.html
title: 'Projects'
description: "The AI or development projects I work on, maintain or contribute to."
---

<div class="wrapper">
  <header class="full | section" style="--spot-color: var(--color-secondary)">
    <div class="section__inner flow region">
      <h1 class="text-center" style="color: var(--color-light);">{{ title }}</h1>
    </div>
    {% svg "divider/pixels", null, "divider" %}
  </header>

  <article class="full | region">
    <div class="wrapper flow prose">
      <p>
        This is a list of projects I am working on, maintaining or contributing to.
      </p>
    </div>
  </article>
</div>
