---
layout: base
title: 'Neural Flow: Projects'
description: "The AI or development projects I work on, maintain or contribute to."
pagination:
  data: collections.allProjects
  size: 10
  alias: projects
permalink: 'projects/{% if pagination.pageNumber >=1 %}page-{{ pagination.pageNumber + 1 }}/{% endif %}index.html'
---

<div class="wrapper">
  <header class="full | section" style="--spot-color: var(--color-secondary)">
    <div class="section__inner flow region">
      <h1 class="text-center" style="color: var(--color-light);">Projects</h1>
    </div>
    {% svg "divider/pixels", null, "divider" %}
  </header>

  <article class="full | region">
    <div class="wrapper flow prose">
      <p>
        This is a list of projects I am working on, maintaining or contributing to.
      </p>
    </div>
  </article>

  {# --- Single Column Project Cards --- #}
  {% asyncEach item in pagination.items %}
    <section class="region region-space-l">
      <div class="wrapper flow prose">
        {% set headingLevel = "h3" %}
        {% set headingTextStep = "text-step-0" %}
        {% include "partials/card-project.njk" %}
      </div>
    </section>
  {% endeach %}

  <!-- set collection to paginate -->
  {% set collectionToPaginate = collections.projects %}
  <!-- set target pagination settings in meta.js -->
  {% set metaKey = "projects" %}
  <!-- if the number of items in the collection is greater than the number of items shown on one page -->
  {% if collectionToPaginate.length > pagination.size %}
    <!-- include pagination -->
    {% include 'partials/pagination.njk' %}
  {% endif %}
</div>
