---
layout: base
permalink: /projects.html
title: 'Unlocking AI'
description: "The AI or development projects I work on, maintain or contribute to."
---

<div class="wrapper">
  <header class="full | section" style="--spot-color: var(--color-secondary)">
    <div class="section__inner flow region">
      <h1 class="text-center" style="color: var(--color-light);">{{ title }}</h1>
    </div>
    {% svg "divider/pixels", null, "divider" %}
  </header>

  <article class="full | region">
    <div class="wrapper flow prose">
      <h2 id="an-eleventy-starter">Unlocking AI</h2>
      <p>
        Check out some of the projects I have worked on, maintain or contribute to.
      </p>
    </div>
  </article>
</div>
