<footer class="site-footer mt-l-xl p-s-m">
  <div class="wrapper site-footer__inner">
    <div class="site-footer__identity">
      <a class="site-footer__brand" href="/" {{ indicateActiveHome }}>
        <span class="font-display">{{ meta.siteName }}</span>
        <small>v{{ pkg.version }}</small>
      </a>
      <p>&copy; {% year %} Daniel Scott-Raynsford</p>
    </div>

    <nav class="site-footer__platforms cluster" aria-label="{{ meta.navigation.ariaPlatforms }}">
      <a href="{{ meta.blog.feedLinks[0].url }}" rel="alternate" type="{{ meta.blog.feedLinks[0].type }}">
        <span class="visually-hidden">{{ meta.blog.feedLinks[0].title }}</span>
        {% svg "misc/rss" %}
      </a>

      {% for key, value in personal.platforms %}
        {% if value != "" %}
          <a class="no-indicator" href="{{ value }}" rel="me">
            <span class="visually-hidden">{{ key | capitalize }}</span>
            {% svg 'platform/' + key %}
          </a>
        {% endif %}
      {% endfor %}
    </nav>

    <div class="site-footer__preferences">
      {% include 'partials/theme-switch.njk' %}

      <button class="button" type="button" data-consent-settings data-ghost-button data-small-button>
        Cookie settings
      </button>
    </div>

    <aside class="creator | cluster gutter-2xs text-step-min-1">
      Made with <span class="visually-hidden">love</span> <span>{% svg "misc/heart" %}</span> and
      <a class="no-indicator" href="https://www.11ty.dev/">{% svg "misc/11ty", "Eleventy" %}</a> by
      <a href="{{ meta.creator.website }}">{{ meta.creator.name }}</a>
    </aside>
  </div>
</footer>
