{% if tags.size > 1 %}
  <div class="my-s-m cluster">
    {% for tag in tags %}
      <a class="button" data-small-button-tag data-tag-tone="{{ tag | tagTone }}" href="/tags/{{ tag }}"> {{ tag }} </a>
    {% endfor %}
  </div>
{% endif %}
